*{
    box-sizing: border-box;
}

.primary_button{
    border: none;
    padding: 5px 20px;
    background-color: rgb(177, 0, 97);
    color: white;
    border-radius: 10px;
    transition: 500ms;
    outline: 1px solid rgb(255, 0, 140);
    outline-offset: 5px;
}

.primary_button:hover{
   background-color: rgb(255, 0, 140);
}

.cancel_button{
    border: none;
    padding: 5px 20px;
    background-color: rgb(82, 0, 45);
    color: white;
    border-radius: 10px;
    transition: 500ms;
    outline: 1px solid rgb(82, 0, 45);
    outline-offset: 5px;
}

.cancel_button:hover{
   background-color: rgb(136, 0, 75);
}

.contract_card{
    border: none;
    background-image: linear-gradient(90deg, rgba(177, 0, 97, 0.05), rgba(255, 0, 140, 0.05));
    border-radius: 10px;
}
.comp_heading{
    color: rgb(177, 0, 97);
    font-weight: bold;
}
.contract_inputs{
    padding: 10px;
    border-radius: 0 10px 10px 10px;
    display: block;
    width: 100%;
    /* border: 1px solid rgb(177, 0, 97); */
    border: none;
    margin-bottom: 15px;
    background-image: linear-gradient(90deg, rgba(177, 0, 97, 0.226), rgba(255, 0, 140, 0.226));
    transition: 500ms;
}
.contract_inputs:focus{
    outline: 1px solid rgb(255, 0, 140) !important;
}
label{
    font-size: 12px;
    color: rgb(0, 0, 0);
}
.contract_model_img{
    width:350px;
    border-radius: 50%;
    outline: 1px solid rgb(177, 0, 97);
    outline-offset: 10px;
    transition: 500ms;
}

.contract_model_img:hover{
    transform: rotate(30deg);
}
.contract_model_name{
    color: rgb(177, 0, 97);
    font-weight: bold;
    font-size: 50px;
    margin-top: 10px;
    margin: 0;
}
.contract_model_about{
    font-size: 13px;
    margin: 0;
    color: rgb(255, 0, 140);
}
.contract_p{
    font-weight: bold;
    color: rgb(177, 0, 97);
    margin: 0;
}
.break_line{
    color: rgb(255, 0, 140);
}
.brand_name{
    font-weight: bold;
    text-align: center;
}
.custom_button{
    border-radius: 20px;
    padding: 5px 20px;
    outline: 1px solid black;
    outline-offset: 3px;
}
.main_card{
    border-radius: 20px;
}